*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container{
    padding:30px 100px;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content button{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    padding: 10px 24px 10px 24px;
    border-radius: 8px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.my-next-target{
    width: 1140px;
    height: 866px;
    margin: 0 auto;
}

.text-content{
    width: 946px;
    height: 113px;
    margin: 0 auto;
}

.text-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.text-content p{
    width: 852px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;


}

.react-js-container{
    width: 1140px;
    height: 219px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .react-js-content{
        width: 941.22px;
        height: 139px;
        margin-left: 24px;
    }

    .react-js-content h1{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 24px;
        font-weight: 800;
        line-height: 36px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 8px;
    }

    .react-js-content p{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left;
        opacity: 0.7;
        margin-bottom: 24px;

    }

